body{
    font-size: 14px;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.done{
    text-decoration: line-through;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.app-body{
    width: 100%;
}

.col-4{
    float:left;
    width: 33.3%;
}

.col-8{
    float: left;
    width: 66.6%
}

.app-menu label{
    display: block;
    width: 100%;
}

input{
    font-size: 1em;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#output{
    padding: 1em;
}

.file-section{
    padding: 1em .5em;
    font-size: 1em;
    box-shadow: inset 0px 0px 8px 1px #d8d8d8;
}

.file--hash--label.valid-match{
    background-color: #B4FFC4;
}

.file--hash--label.invalid-match{
    background-color: rgb(253, 145, 145);
}

.file--name{
    font-weight: bold;
}

.file--input,.file-section input{
    width: 100%;
    overflow: visible;
}

.file--hash-output{
    text-indent: 2px;
    overflow: visible;
}

.file--overflow--group{
    overflow: scroll;
    
}

/* loading animations */
.load-wrapp {
    float: left;
    width: 100px;
    height: 6px;
    margin: 0 10px 10px 0;
    
    border-radius: 5px;
    text-align: center;
    background-color: #d8d8d8;
}

.load-wrapp p {padding: 0 0 20px;}
.load-wrapp:last-child {margin-right: 0;}

.bar {
    float: left;
    width: 15px;
    height: 6px;
    border-radius: 2px;
    background-color: #4b9cdb;
}

@keyframes loadingJ {
  0%,100% {transform: translate(0,0);}
  
  50% {
      transform: translate(80px,0);
      background-color: #f5634a;
      width: 25px;
  }
}

.load-10 .bar {animation: loadingJ 2s cubic-bezier(.17,.37,.43,.67) infinite;}
